div .mainbody {
  margin: 100px;
  border: 3px solid grey;
  min-width: 500px;
}

img.headerimg {
    display: flex; 
    margin: auto;
    width: 80%;
  }

img.logoimg {
  display: flex;
  margin: auto;
  padding: 30px;
  width: 100%; 
  max-width: 350px;
}

.walletGreenSvg {
  padding-right: 10px;
}

.DCsvg {
  display: flex;
  margin: auto;
  width: 50px;
}

img.invertedLogo {
  display: flex;
  margin: auto;
  width: 30%;
  min-width: 100px;
  padding: 20px;
}

.navIcon {
  display: flex;
  margin: auto;
  height: 75px;
}

div .chart {
  margin: 30px;
  border: 3px solid white;
  border-radius: 15px;
  padding: 10px 10px 30px 10px;
  box-shadow: 0 0 15px 5px rgba(211,211,211,.75);
}

div .holderbalance {
  background-color: #fff;
  border: 1px solid #999;
  margin: 0;
  padding: 10px;
}

.dpicon {
  width: 10%; 
  max-width: 100px;
}

.dricon {
  width: 20%;
  max-width: 100px;
}

div .innerbody {
  border: 3px solid white;
  border-radius: 15px;
  margin: 30px;
  box-shadow: 0 0 15px 5px rgba(211,211,211,.75);
}

div .market {
  margin: 30px;
}

div .mixer {
  margin: 30px;
}

.invMixerIcon {
  width: 40px;
  padding-right: 10px;
}

.algologo {
  width: 15px;
}

.bodylogo {
  display: flex; 
  margin: auto; 
  width: 10%; 
  margin-bottom: 30px;
}

img.activenftzoom {
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 500px;
}

.nftbuyimg {
  width: 100%;
  max-width: 500px;
}

.nftpricedcimg {
  width: 30px;
  margin: 10px;
}

.displaynftimg {
  width: 100%;
}

.buynftidimg {
  width: 100%;
}

div .nftvotediv {
  margin: 30px;
}

div .DAO {
  margin: 30px;
}

div .DAO2 {
  margin: 30px;
  display: gridpx;
  margin: auto;
}

div .trade {
  margin: auto;
}

div .bottombody {
  padding: 40px;
}

div .votes {
  background-color: #fff;
  border: 1px solid #999;
  margin: 0px;
  padding: 10px;
}

.contractdiv {
  margin: 30px;
}

div .socials {
  background-color: #000000;
}

.discordicon {
  width: 50px;
  display: flex;
  margin: auto;
}

img.footerimg {
  width: 80%;
  transform: scaleY(-1);
  display: flex;
  margin: auto;
}