.h1 {
    color: #FFFFFF;
    font-family: Consolas;
    padding: 30;
}

.button {
    display: flex;
    margin: auto;
    text-transform: none;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(255,255,255,.75);
}

.button:hover {
    border: 3px solid white;
    border-radius: 15px;
    box-shadow: none;
  }

.h5 {
    color: #FFFFFF;
    font-family: Consolas;
    padding: 10px;
}

.h5holders {
    font-family: Consolas;
    color: #FFFFFF;
}

.holder1 {
    display: flex;
    float: left;
}

.holdermax {
    display: flex;
    float: right;
}

div .connectedAddress {
    font-family: Consolas;
    color: #FFFFFF;
}

.connectpera {
    display: flex;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.perah6 {
    font-family: Consolas;
    color: #000000;
}

.connectmyalgo {
    display: flex;
    margin: auto;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.myalgoh6 {
    font-family: Consolas;
    color: #000000;
    border-radius: 15px;
}

.disconnectbtn {
    display: flex;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.disconnecth6 {
    font-family: Consolas;
    color: #000000;
}

.darkcoinh6 {
    color: #FFFFFF;
    font-family: Consolas;
    margin: 30px;
}

.dcbalance {
    color: #FFFFFF; 
    font-family: Consolas; 
    margin: 30px;
}

.bodytab {
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
}

.bodytabt {
    font-family: Consolas;
}

.buytab {
    border-radius: 15px; 
}

.buytabt {
    font-family: Consolas;
}

.activenft {
    display: block; 
    margin: auto;
}

.activenftname {
    color: #FFFFFF;
    font-family: Consolas;
    font-weight: 800;
    padding: 20px;
}

.activenftgrid {
    display: flex;
    padding: 5%;
}

.nftbuypreview {
    display: flex;
    margin: auto;
}

.nftbuybtn {
    display: flex;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.nftvoteh6 {
    font-family: Consolas;
    color: #FFFFFF;
    padding: 30px;
}

.nftbuybtnt {
    font-family: Consolas;
    color: #000000;
}

.contractbtn {
    display: flex;
    margin: auto; 
    padding: 10px;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.contractbtnt {
    font-family: Consolas;
    color: #000000;
}

.proposebtn {
    display: flex;
    margin: auto;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 15px;
    margin-top: 2%;
}

.proposebtnt {
    font-family: Consolas;
    color: #000000;
}

.selectoption {
    display: flex;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 15px;
    text-transform: none;
    border: 1px solid white;
}

.selectoptiont {
    font-family: Jacques;
}

.voteresults {
    color: #FFFFFF;
    font-family: Vivaldi;
    padding: 30px;
}

.displaynftname {
    color: #FFFFFF;
    font-family: Consolas;
    font-weight: 800px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
}

.buyconfirmationtxt {
    font-family: Consolas;
    color: #FFFFFF;
}

.buynftidt {
    color: #FFFFFF;
    font-family: Consolas;
    font-weight: 800px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
}

.h3 {
    color: #FFFFFF;
    font-family: Consolas;
    padding: 30px;
}

.h2 {
   font-family: Consolas;
   color: #FFFFFF;
}

.h4 {
    font-family: Consolas;
    color: #FFFFFF;
}

.governanceh2 {
    font-family: Consolas;
    color: #FFFFFF;
}

.measurebtn {
    text-transform: none; 
    display: flex; 
    margin: auto; 
    border: 1px solid white; 
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(255,255,255,.75);
}

.measurebtn:hover {
    border: 3px solid white;
    border-radius: 15px;
    box-shadow: none;
}

.measureh4 {
    font-family: Vivaldi;
    color: #FFFFFF;
    padding: 10px;
}

.measureh6 {
    font-family: Consolas;
    color: #FFFFFF;
    padding: 20px;
}

.measureth4 {
    color: #FFFFFF; 
    font-family: Jacques; 
    padding: 30px;
}

.modal {
    overflow-y: auto;
    overflow-x: hidden;
}

.card {
    background-color: #000000;
}

.measurebody {
    font-family: Jacques;
    border: 1px solid white;
    border-radius: 15px;
    color: #FFFFFF;
    margin: 20px;
    padding: 20px;
}

.measurenoteh6 {
    color: #FFFFFF;
    font-family: Jacques;
    padding: 30px;
}

.measureresult {
    font-family: jacques; 
    color: #FFFFFF; 
    padding: 20px;
}

.socialsbtn {
    display: grid;
    margin: auto;
}

.socialsh5 {
    color: #FFFFFF;
    font-family: Consolas;
    padding: 30px;
}