::-webkit-scrollbar {
    display: none;
  }

  @font-face {
    font-family: 'Jacques';
    src: local('Jacques'), url("/fonts/JacquesFrancois.otf") format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

  @font-face {
    font-family: 'JacquesShadow';
    src: local('JacquesShadow'), url("/fonts/JacquesFrancoisShadow.otf") format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }